


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Tagesschrift&display=swap');


*{
    font-family: "Tagesschrift", system-ui;
    margin:0px;
    padding:0px;
    background-color: aqua;

}