*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#ex{
 display:flex;
 justify-content: space-between;
 gap:30px;
 list-style: none;
 
}
header{
    display: flex;
    justify-content: space-between;
    
    background-color:white;
    align-items: center;
    position: sticky;
   
   
}
#con{
    
    display: flex;
    justify-content: space-between;
}
img{
    height: 90px;
}